nav>ul>li{
    display: inline;
    margin-right: 15px;

}
nav>li{
    text-decoration: none;
}
footer
{
    margin-top: 30ox;
    text-align: center;

}
.tag

{
    text-align: center;
}
.tags
{
    text-align: center;
}